{
  "dbPath": "xl-webhook-example.db",
  "graphQlToken": "REDACTED",
  "graphQlEndpoint": "https://demo.xledger.net/graphql",
  "useThirdPartyWebhookDevelopmentTunnel": false,


  "___urls_corey_comment": "verified webhook is registered using item 0.  Hardcoded the server to use a different port so the item 1 url is never used.",
  "urls": [ "https://xldg.tollsoft.io/", "http://localhost:9920" ]
}
